@model TrackCollectionModel

@{
    string CSHTML = "_TrackCollection.cshtml";

    string query = "";
    if (Model.MasterAlbumId != null)
    {
        query = String.Format("ej.Query().where(\"AlbumId\", ej.FilterOperators.equal, {0})", Model.MasterAlbumId);
    }
    else if (Model.MasterGenreId != null)
    {
        query = String.Format("ej.Query().where(\"GenreId\", ej.FilterOperators.equal, {0})", Model.MasterGenreId);
    }
    else if (Model.MasterMediaTypeId != null)
    {
        query = String.Format("ej.Query().where(\"MediaTypeId\", ej.FilterOperators.equal, {0})", Model.MasterMediaTypeId);
    }
}

<div id="Collection_Track">
    @(Html.EJ().Grid<Track>("Grid_Track")
        //.Datasource(datasource => datasource
        //    .Adaptor(AdaptorType.UrlAdaptor)
        //    .URL(Url.Action("DataSource", "Track"))
        //)
        .Query(query)        
        .AllowFiltering()
        .AllowGrouping()
        .AllowPaging()
        .AllowReordering()
        //.AllowResizeToFit()
        .AllowResizing()
        //.AllowScrolling()
        .AllowSearching()
        .AllowSorting()
        .AllowTextWrap()
        .TextWrapSettings(wrap =>
        {
            wrap.WrapMode(WrapMode.Both);
        })                    
        .ClientSideEvents(clientEvent => clientEvent
            .ActionBegin("actionBegin_Grid_Track")
            .ActionFailure("actionFailure_Grid_Track")
            .Load("load_Grid_Track")
            .ToolbarClick("toolbarClick_Grid_Track")
        )
        .Columns(column =>
        {
            column.Field("TrackId")
                .AllowEditing(false)
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(TrackResources.PropertyTrackId)
                .IsIdentity(true)
                .IsPrimaryKey(true)
                .TextAlign(TextAlign.Right)
                .Visible(Track.Profile.IsGridVisibleFor("TrackId"))
                .Width(Track.Profile.GridWidthFor("TrackId"))
                .Add();
            column.Field("Name")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(TrackResources.PropertyName)
                .Visible(Track.Profile.IsGridVisibleFor("Name"))
                .Width(Track.Profile.GridWidthFor("Name"))
                .Add();
            column.Field("AlbumId")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(TrackResources.PropertyAlbumId)
                .TextAlign(TextAlign.Right)
                .Visible(Track.Profile.IsGridVisibleFor("AlbumId"))
                .Width(Track.Profile.GridWidthFor("AlbumId"))
                .Add();
            column.Field("AlbumLookupText")
                .AllowEditing(false)
                .Type("string")
                .HeaderText(AlbumResources.EntitySingular)
                .Visible(Track.Profile.IsGridVisibleFor("AlbumLookupText"))
                .Width(Track.Profile.GridWidthFor("AlbumLookupText"))
                .Add();
            column.Field("MediaTypeId")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(TrackResources.PropertyMediaTypeId)
                .TextAlign(TextAlign.Right)
                .Visible(Track.Profile.IsGridVisibleFor("MediaTypeId"))
                .Width(Track.Profile.GridWidthFor("MediaTypeId"))
                .Add();
            column.Field("MediaTypeLookupText")
                .AllowEditing(false)
                .Type("string")
                .HeaderText(MediaTypeResources.EntitySingular)
                .Visible(Track.Profile.IsGridVisibleFor("MediaTypeLookupText"))
                .Width(Track.Profile.GridWidthFor("MediaTypeLookupText"))
                .Add();
            column.Field("GenreId")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(TrackResources.PropertyGenreId)
                .TextAlign(TextAlign.Right)
                .Visible(Track.Profile.IsGridVisibleFor("GenreId"))
                .Width(Track.Profile.GridWidthFor("GenreId"))
                .Add();
            column.Field("GenreLookupText")
                .AllowEditing(false)
                .Type("string")
                .HeaderText(GenreResources.EntitySingular)
                .Visible(Track.Profile.IsGridVisibleFor("GenreLookupText"))
                .Width(Track.Profile.GridWidthFor("GenreLookupText"))
                .Add();
            column.Field("Composer")
                .Type("string")
                .EditType(EditingType.StringEdit)
                .HeaderText(TrackResources.PropertyComposer)
                .Visible(Track.Profile.IsGridVisibleFor("Composer"))
                .Width(Track.Profile.GridWidthFor("Composer"))
                .Add();
            column.Field("Milliseconds")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(TrackResources.PropertyMilliseconds)
                .TextAlign(TextAlign.Right)
                .Visible(Track.Profile.IsGridVisibleFor("Milliseconds"))
                .Width(Track.Profile.GridWidthFor("Milliseconds"))
                .Add();
            column.Field("Bytes")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Integer)
                .HeaderText(TrackResources.PropertyBytes)
                .TextAlign(TextAlign.Right)
                .Visible(Track.Profile.IsGridVisibleFor("Bytes"))
                .Width(Track.Profile.GridWidthFor("Bytes"))
                .Add();
            column.Field("UnitPrice")
                .Type("number")
                .EditType(EditingType.NumericEdit)
                .Format(SyncfusionPatternResources.GridFormat_Float)
                .HeaderText(TrackResources.PropertyUnitPrice)
                .TextAlign(TextAlign.Right)
                .Visible(Track.Profile.IsGridVisibleFor("UnitPrice"))
                .Width(Track.Profile.GridWidthFor("UnitPrice"))
                .Add();
        })
        .EditSettings(edit => edit
            .AllowAdding()
            .AllowDeleting()
            .AllowEditing()
            .AllowEditOnDblClick(false)
        )
        //.EnablePersistence()
        .IsResponsive()
        .FilterSettings(filter => filter
            .EnableCaseSensitivity(false)
            .FilterType(FilterType.Excel)
            .MaxFilterChoices(AppDefaults.SyncfusionRecordsForFiltering)
        )
        //.Mappers(map => map
        //    .ExportToExcelAction(Url.Content("~/Track/ExportToExcel"))
        //    .ExportToPdfAction(Url.Content("~/Track/ExportToPdf"))
        //    .ExportToWordAction(Url.Content("~/Track/ExportToWord"))
        //)
        .PageSettings(page => page
            .PageSize(AppDefaults.SyncfusionRecordsByPage)
        )
        .ShowColumnChooser()
        .ToolbarSettings(toolbar => toolbar
            .CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Grid_Track_Toolbar" }
            })
            .ShowToolbar()
            .ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Search);
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                //items.AddTool(ToolBarItems.ExcelExport);
                //items.AddTool(ToolBarItems.PdfExport);
                //items.AddTool(ToolBarItems.WordExport);
            })
        )
    )
</div>

<script type="text/x-jsrender" id="Grid_Track_Toolbar">
    <div id="Grid_Track_Toolbar_Refresh" class="e-toolbaricons e-icon e-reload" title="@PresentationResources.Refresh"></div>
    <div id="Grid_Track_Toolbar_Read" class="e-toolbaricons e-icon e-document" title="@PresentationResources.Read"></div>
</script>

<script>
    $(function () {
        try {
            ej.widget.init($("#Collection_Track"));

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var profile = @Html.Raw(JsonConvert.SerializeObject(Track.Profile));

            zOnCollectionView(model, profile, "@Url.Action("DataSource", "Track")");
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception));
        }                
    });
    
    function actionBegin_Grid_Track(args) {
        try {
            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var masterControllerAction = model.MasterControllerAction == null ? "" : model.MasterControllerAction.toLowerCase();
    
            // Associations (FK)
            var url = "";
            // Album
            if (model.MasterAlbumId != null) {
                url = url + (url == "" ? "" : "&") + "MasterAlbumId=" + String(model.MasterAlbumId);
            }
            // Genre
            if (model.MasterGenreId != null) {
                url = url + (url == "" ? "" : "&") + "MasterGenreId=" + String(model.MasterGenreId);
            }
            // MediaType
            if (model.MasterMediaTypeId != null) {
                url = url + (url == "" ? "" : "&") + "MasterMediaTypeId=" + String(model.MasterMediaTypeId);
            }

            var isSearch = !model.IsMasterDetail;
            var isCreate = masterControllerAction == "" || masterControllerAction == "update";
            var isRead = masterControllerAction == "" || masterControllerAction == "read" || masterControllerAction == "update" || masterControllerAction == "delete";
            var isUpdate = masterControllerAction == "" || masterControllerAction == "update";
            var isDelete = masterControllerAction == "" || masterControllerAction == "update" || masterControllerAction == "delete";
            switch(args.requestType) {
                case "searching":
                    // Search
                    if (isSearch) {
                        zSearchDictionaryWrite("Track", args.keyValue);
                    }
                    break;
                case "add":
                    // Create
                    if (model.ActivityOperations.IsCreate && isCreate) {
                        $("#ZAjax").load("@(Url.Action("Create", "Track", null, Request.Url.Scheme))" +
                            (url == "" ? "" : "?") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                    }
                    break;
                case "read":
                    // Read
                    if (model.ActivityOperations.IsRead && isRead) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Read", "Track", null, Request.Url.Scheme))?TrackId=" + String(data.TrackId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;                        
                case "beginedit":
                    // Update
                    if (model.ActivityOperations.IsUpdate && isUpdate) {
                        var data = this.model.currentViewData[args.rowIndex];
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Update", "Track", null, Request.Url.Scheme))?TrackId=" + String(data.TrackId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
                case "delete":
                    // Delete
                    if (model.ActivityOperations.IsDelete && isDelete) {
                        var data = args.data;
                        if (!ej.isNullOrUndefined(data)) {
                            $("#ZAjax").load("@(Url.Action("Delete", "Track", null, Request.Url.Scheme))?TrackId=" + String(data.TrackId) +
                                (url == "" ? "" : "&") + url, function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
                        }
                    }
                    break;
            }

            if (args.requestType == "add" || args.requestType == "beginedit" || args.requestType == "delete") {
                args.cancel = true;
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionBegin_Grid_Track", exception));
        }            
    }
    
    function actionFailure_Grid_Track(args) {
        try {
            zAlert(args.error.responseText);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "actionFailure_Grid_Track", exception));
        }
    }    

    function load_Grid_Track(args) {
        try {            
            var culture = "@System.Globalization.CultureInfo.CurrentCulture.Name";
            this.model.locale = culture;
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "load_Grid_Track", exception));
        }
    }

    function toolbarClick_Grid_Track(sender) {
        try {
            var toolbar = $(sender.target);
            var ejGrid = $("#Grid_Track").data("ejGrid");

            if (toolbar.prop("id") == "Grid_Track_Toolbar_Refresh") {
                ejGrid.refreshContent();
            } else if (toolbar.prop("id") == "Grid_Track_Toolbar_Read") {
                var records = ejGrid.getSelectedRecords();
                if (records.length == 1) {
                    var args = { requestType: "read", data: records[0] };
                    actionBegin_Grid_Track(args);
                }
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "toolbarClick_Grid_Track", exception));
        }
    }
</script>
